<!doctype html>
<html>
<head> 
  <link rel="stylesheet" type="text/css" href=http://fonts.googleapis.com/css?family=Amatic+SC:700>
  
  <link rel="stylesheet" type="text/css" href=http://fonts.googleapis.com/css?family=Josefin+Sans>
  <title>Free Your Mind</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Click me. :)">
</FORM>
  

  <h1><img src="http://a.deviantart.net/avatars/c/h/chi-tokiyo.gif?8" alt="totoro"/ class="character"> <img src="http://fc06.deviantart.net/fs70/f/2013/306/1/9/infinity_hakuna_matata_png_by_valeconbieberfever-d6stwvv.png" alt= "hk"> <img src="http://media.tumblr.com/f46be2f283f01f2acf3b6aada49865ce/tumblr_inline_mxjohnuIjI1qfc9y0.gif" alt="penguin"/ class="character"></h1>
  
  <p><%= @my_stress.random_quote %></p>

  <img src="http://31.media.tumblr.com/ba3e1c7e52a1274519ce046685a0dc75/tumblr_mfsyt3w6UF1s16t6co1_400.gif" alt="hug" class="center"/>
  
</body> 
</html>
 