<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href=http://fonts.googleapis.com/css?family=Amatic+SC:700>
  
  <link rel="stylesheet" type="text/css" href=http://fonts.googleapis.com/css?family=Josefin+Sans>
  <title>Stress Quotes</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
  <h1> <img src="http://a.deviantart.net/avatars/c/h/chi-tokiyo.gif?8" alt="totoro"/>Hakuna Matata <img src="http://media.tumblr.com/f46be2f283f01f2acf3b6aada49865ce/tumblr_inline_mxjohnuIjI1qfc9y0.gif" alt="penguin"/></h1>
  <p><%= @my_stress.random_quote %></p>